.womens span h3{
    margin-top: 20px;
    text-align: center;
}
.Kids span h3{
    margin-top: 20px;
    text-align: center;
}
.Mens span h3{
    margin-top: 20px;
    text-align: center;
}
.Times span h3{
    margin-top: 20px;
    text-align: center;
}