footer {
    background-color: #fff;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-links {
    margin: 20px;
  }
  
  .footer-links h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #666;
    text-decoration: none;
  }
  .footer-top {
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;
  }
  
  .footer-top hr {
    border-top: 1px solid #ccc;
  }
  
  .footer-top p {
    margin-bottom: 10px;
  }
  
  .footer-top a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
  }