.container{
    padding: 20px;
    margin: 20px;
}

.product-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-right span{
    font-size: 25px;
    color: black;
}
.product-left h3{
    padding: 1em;
}
.product-left img{
height: 500px;
width: 500px;
object-fit: contain;
}
.product-right p{
    margin-bottom: 20px;
}
.product-right h4{
 font-size: 1.5rem;
}
.btn-1{
    padding: 8px 10px;
    margin: 5px;
    font-size: 15px;
    background: black;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.buynow{
    padding: 8px 10px;
    font-size: 15px;
    margin: 5px;
    background: green;
    color: white;
    border:none;
    cursor: pointer;
    border-radius: 5px;
}
.quantity-selector {
    margin-bottom: 10px;
  }
  
  .quantity-selector label {
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .description-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .description-content {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .description-content.open {
    display: block; 
  }
  .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}
